.body_container {
  background-image: linear-gradient(to bottom, blue, white);
  height: 90vh;
  margin-top: 50px;
}
.body_firsthead {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.body_firsttext {
  text-align: center;
}
.body_firstimg {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
.first_line_items {
  display: flex;
  justify-content: space-evenly;
}
.second_line_items {
  display: flex;
  justify-content: space-evenly;
  background-color: #cdc4ae;
}
.third_line_items {
  display: flex;
  justify-content: space-evenly;
}
